body {
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono', sans-serif;
}

.container {
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 920px;
}

h2 {
    text-align: center;
    color: #3a5d5f;
    margin: 50px 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    box-shadow: 0 5px 3px hsl(183deg 26% 78%);
    color: #667173;
    font-size: 13px;
}

.form-container {
    margin: 50px 20px 50px 50px;
}

form {
    display: flex;
    flex-direction: column;
}

.tip-button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tip {
    margin-bottom: 5px;
}

.tip-button, .custom-tip {
    width: 115px;
    padding: 0;
    margin-bottom: 15px;
    height: 40px;
    background-color: hsl(183, 100%, 15%);
    color: #f2ffff;
    font-size: 18px;
    font-family: 'Space Mono', sans-serif;
    border: none;
    border-radius: 5px;
}

.tip-button:hover {
    background-color: #9fe8df;
    color: hsl(183, 100%, 15%);
    cursor: pointer;
}

.custom-tip {
    background-color: #f1f9fb;
    text-align: right;
}

.custom-tip::placeholder {
    text-align: center;
    color: #667173;
}

.bill-input, .people-input, .reset-button {
    height: 40px;
    background-color: #f1f9fb;
    border: none;
    border-radius: 5px;
    text-align: right;
    padding-right: 20px;
    font-size: 16px;
    font-family: 'Space Mono', sans-serif;
    position: relative;
}

.bill-input {
    margin-bottom: 40px;
    margin-top: 5px;
    margin-right: 15px;
}

.people-container {
    margin-top: 24px;
    padding-right: 30px;
}

.people-input {
    width: 100%;
    margin: 5px 0;
}

img {
    position: relative;
    top: -35px;
    left: 10px;
    width: 13px;
    height: 16px;
}

.dollar-img {
    top: -70px;
}

.error-people-count {
    color: #be8784;
    display: none;
}

.result-container {
    background-color: hsl(183, 100%, 15%);
    margin: 30px;
    border-radius: 15px;
}

.amount {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 40px;
}

.amount p {
    margin: 0;
    color: #ebffff;
}

.amount .amount-content-person {
    font-size: 12px;
    color: #4e7b7e;
}

.tip-amount-value, .total-amount-value {
    text-align: right;
    color: #27c4af;
    font-size: 32px;
    font-weight: bold;
}

.reset-button {
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-top: 150px;
    color: hsl(183, 100%, 15%);
    font-weight: bold;
    text-align: center;
    background-color: #27c4af;
    cursor: pointer;
}

.reset-button:hover {
    background-color: #9fe8df;
}
